body {
  margin: 0px;
}

/* Header Section */

.header {
  background-color: hsl(9, 92%, 67%);
  height: 1085px;
  color: white;
  text-align: center;
}

.nav {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  list-style: none;
}

.nav .nav-link {
  text-decoration: none;
  color: white;
}

.Clay-White {
  width: 286px;
  height: 231px;
  object-fit: contain;
}

/* Info Section */

.info {
  background-color: white;
  height: 5236px;
}

/* Footer Section */

.footer {
  background-color: #f8765e;
  height: 164px;
  color: white;
  text-align: center;
}
